/* General Container Styling */
body {
  background-color: #9900ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  vertical-align: baseline;
}

#quote-box {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  align-self: center;
  justify-self: center;
}

/* Quote Styling */
#text {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
  font-style: italic;
}

/* Author Styling */
#author {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #777;
}

#tweet-quote {
  width: 10rem;
}

/* Footer Container */
.nfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Social Buttons Styling */
.socials {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
  transition: background-color 0.3s ease;
}

.socials:hover {
  background-color: #0d8ce0;
}

/* New Quote Button Styling */
.nfooter button {
  background-color: #9900ff;
  border: none;
  max-width: fit-content;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nfooter button:hover {
  background-color: #9900ffd5;
}

.footer {
  margin-top: 10px;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
}
/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .nfooter {
    flex-direction: column;
    gap: 0.6em;
  }

  .nfooter button {
    min-width: 7rem;
    /* padding: ; */
  }
}
